

.post-content {
    top:0;
    left:0;
    position: absolute;
}

.thumbnail{
    position:relative;

}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('headi.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }